@import 'components/mixin';
@import 'components/variable';

* {
    @include spacing(0, 0);
}
body {
    @include body(auto);
    // --------responsive-------
    @include responsiveSize(big) {
        height: 170vh;
    }
    @include responsiveSize(small) {
        // height:100vh;
    }
}
@import 'components/nav';
#nav-product{
    // -webkit-transform: rotate(45deg);
    // -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 2px solid $btn-main;
}
main {
    margin-top: 6%;
    .more-product{
        @include flexProp (flex,column);
        @include flex-item (center,center);
        margin: 15px;
        button{
            @include btn;
            padding: 15px;
        }
    }
    .undefind-container{
        @include spacing(20px,0);
        text-align: center;
        color: rgb(68, 68, 68);
    }
}
@import 'components/discount';
@import 'components/product';
@import 'components/detail';
@import 'components/footer';