@import 'variable';
@import 'mixin';

.product-container{
    @include pageSpaceing;
    @include flexSize (1.5);
    @include flexProp (flex,column);
    .product-title{
        @include flexProp (flex,row);
        @include flex-item (start,space-around);
        padding: 40px 0 40px 0;
        font-size: 20px;
        gap: 10%;
        @import 'input-search';
    }
    @import 'card';
}